# MAGEZI RICHARD ELIJAH
## M24B13/013
### B27258

In [1]:
#libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

#Import datasets
diamonds=pd.read_excel("diamonds_new.xlsx")
diamonds

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

# Hypothesis 1
## Average price of all table categories are the same.

In [2]:
print(diamonds['table'].unique())

[55.  61.  65.  58.  57.  56.  54.  62.  59.  63.  60.  55.3 69.  64.
 56.4 52.  55.8 66.  70.  68.  67.  54.4 53.  57.1 53.6 54.8 54.2 54.9
 56.7 53.9 57.8 54.1 55.1 51.  58.1 56.9 56.5 53.7 60.7 56.2 56.6 56.1
 56.3 57.2 57.5 60.9 59.8 62.3 60.1 55.9 50.1 62.2 54.5 55.7 53.4 54.7
 58.8 59.4 62.5 54.3 60.6 55.2 58.6 49.  50.  54.6 62.6 57.7 56.8 57.9
 60.3 55.6 59.5 57.4 62.4 60.4 53.3 60.2 60.8 58.5 57.6 43.  59.9 63.5
 57.3 61.4 58.3 55.4 58.2 53.5 59.7 55.5 58.7 53.8 59.1 53.2 59.3 61.1
 51.6 95.  61.2 59.2 60.5 58.4 53.1 52.8 44.  61.3 61.9 61.8 59.6 61.5
 58.9 64.3 62.8 71.  52.4 63.3 61.7 64.2 73.  65.4 63.4 62.1 79.  76.
 61.6]

In [4]:
#Testing the hypothesis that the average price of all carat categories are the same
#Import scipy.stats
import scipy.stats

#Grouping the data using carat categories
groups=[group['price'].values for name, group in diamonds.groupby("table")]

#ANOVA
h_statistic, p_value_h1 =stats.kruskal(*groups)
print(f'H-statistics also known as Krushal_Wallis H-test:{h_statistic},p_value: {p_value_h1}')

#Print conclusion 
if p_value_h1 < 0.05:  
    print("We can reject the null hypothesis")  
else:  
    print("We can accept the null hypothesis")

H-statistics also known as Krushal_Wallis H-test:1798.3451261087168,p_value: 1.464467845021479e-293
We can reject the null hypothesis

Null hypotheis is rejected which means that the statistical evidence shows that the data is inconsitent with the null hypothesis. The data shows that the pricing structure vaies based on the table category

# Hypothesis 2
## Average price of Premuim diamonds being 150

In [5]:
#Filtering out premium diamonds
pre_diamonds=diamonds[diamonds["cut"]=="Premium"]
pre_diamonds

       price  carat      cut color clarity  depth  table     x     y     z
1        326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
3        334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
12       345   0.20  Premium     E     SI2   60.2   62.0  3.79  3.75  2.27
13       345   0.32  Premium     E      I1   60.9   58.0  4.38  4.42  2.68
23       355   0.24  Premium     I     VS1   62.5   57.0  3.97  3.94  2.47
...      ...    ...      ...   ...     ...    ...    ...   ...   ...   ...
53908   2756   0.79  Premium     E     SI2   61.4   58.0  6.03  5.96  3.68
53910   2756   0.71  Premium     E     SI1   60.5   55.0  5.79  5.74  3.49
53911   2756   0.71  Premium     F     SI1   59.8   62.0  5.74  5.73  3.43
53914   2757   0.72  Premium     D     SI1   62.7   59.0  5.69  5.73  3.58
53918   2757   0.86  Premium     H     SI2   61.0   58.0  6.15  6.12  3.74

[13789 rows x 10 columns]

In [6]:
t_statistic, p_value=stats.ttest_1samp(pre_diamonds["price"],150)

#The print statement
print(f"T_statistic: {t_statistic},p_value: {p_value}")

#Print conclusion 
if p_value < 0.05:  
    print("We can reject the null hypothesis")  
else:  
    print("We can accept the null hypothesis")

T_statistic: 119.73104883785925,p_value: 0.0
We can reject the null hypothesis

The null hypothesis is rejected meaning that the average price of Premium diamonds is not equal to 150